@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
